@media screen and (max-width: 650px) {
  .container {
    display: block;
  }
  .cursorcircle {
    display: none;
  }
  .profilebox {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .profilebox .block {
    text-align: left;
  }
  .profilebox img {
    width: 90%;
    height: 90%;
  }
}
