:root {
  --primary-font: "Philosopher", sans-serif;
  --heading-font: "Italiana", sans-serif;
  --text-color: #ffffff;
  --minor-text-color: #838282;
  --low-priority-text-color: #adadad;
  --accent: #9ac753;
  --accent-light-highlight: #8fcc3f;
  --accent-dark-highlight: #064b15;
  --accent-background: #030e06;
  --accent-border: #0f4202;
  --accent-text-color: #0f4202;
  --accent-profile-border: #8fcc3f8e;
}
