.billboard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
}

.billboard h2 {
  font-weight: 1000;
  font-size: 50px;
  padding-left: 10px;
}
