.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--accent-background);
  padding: 10px;
  width: auto;
  transition: 0.2s;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card h2 {
  padding-top: 8px;
}

.card label {
  margin-top: auto;
  display: block;
  padding-top: 15px;
  color: var(--accent-green);
  font-weight: bold;
}
