.profilebox {
  display: flex;
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}

.profilebox img {
  border: 10px dashed var(--accent-profile-border);
  width: auto;
  height: 300px;
}

.profileboxdatablock {
  padding-left: 10px;
  padding-top: 20px;
}
