.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  grid-area: container;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "content rightbar";
  padding-bottom: 10px;
}
